@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  background: #6991AC;
  color: #F5F5F5;
  font-family: 'Alegreya', sans-serif;
  margin: 0;
}
h2 {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  color: #F5F5F5;
}
h3 {
  font-size: 100%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400;
  color: #000;
}
p {
  font-family: 'Alegreya', sans-serif;
  color: #F5F5F5;
  font-size: 160%;
  line-height: 150%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}
header {
  text-align: center;
}
footer {
  background-color: #6991AC;

}
.inner-wrapper-1 {
  float: left;
  width: 100%;
  background-color: #AADCD2;
}
.one-third{
  width: 30%;
  height: 200px;
  display: inline-block;
  float: left;
  text-align: center;
  background-color: #F5F5F5;
  border: 1px solid #000;
  margin: 1.333333%;
  /*padding: 2%  2% 2% 2%;*/
}
#living-room {
  /*background-color: #F5F5F5;*/
}
